{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}



<div class="main">

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>


    {% if unfollowers_list %}

    {{ times }}
    <ul>      
        {% for unfollower in unfollowers_list %}
            <li>
                <a href="https://twitter.com/{{ unfollower }}" target="_blank" style="text-decoration: none;">{{ unfollower }}</a>
            </li>
        {% endfor %}      
    </ul>

    {% endif %}
</div> 

{% endblock content %}